{% extends 'layouts/layout.html' %}

{% block content %}

<h2>Home</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste placeat eligendi sit dolorum, accusamus facere
    reprehenderit repellendus a. Numquam, deleniti rem at aspernatur sed tenetur, doloremque doloribus facilis repellat
    quod temporibus distinctio. Totam maxime architecto aliquam quae nihil quidem doloremque quia impedit illo iure
    similique voluptatibus numquam voluptas inventore officia pariatur neque placeat non, at quam porro temporibus. Quod
    corporis quis amet provident sunt incidunt suscipit id accusantium, aperiam similique impedit dolorem error neque
    quasi doloremque quos velit quaerat libero saepe culpa molestiae, iure perspiciatis dicta nisi. Qui quibusdam
    sapiente, veniam suscipit quam quis, minima totam magni amet fugiat asperiores?</p>

{% endblock %}