{% extends 'layouts/layout.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col align-self-center">
            <h1 class="text-center display-3 py-5">Tareas Completas</h1>
            <ul class="list-group">
                {% for task in tasks %}
                <li class="list-group-item mt-2">
                    <a href="{% url 'task_detail' task.id %}" class="text-decoration-none text-black">
                        <header class="d-flex justify-content-between">

                            {% if task.important %}
                            <h2 class="fw-bold text-success">
                                {{task.title}}
                            </h2 class="fw-bold">
                            {% else %}
                            <h2>

                                {{task.title}}
                            </h2>
                            {% endif %}
                            <p>
                                {{task.user.username}}
                            </p>

                        </header>
                        <p>
                            {{task.description}}
                        </p>
                        <p>
                            completada el:
                            {{task.datecompleted|date:'j-M-Y'}}
                        </p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>




{% endblock %}